
Lab1/.DS_Store
Lab1/khanacademy/.DS_Store
Lab1/udacity/.DS_Store
.DS_Store
*.pack
Lab5/angular-bx1xdg/.angular/cache/15.1.6/angular-webpack/1e36c7c95c836e79e4eace3bd8e2d039bf4f35e4/0.pack
Lab5/angular-bx1xdg/.angular/cache/15.1.6/angular-webpack/1e36c7c95c836e79e4eace3bd8e2d039bf4f35e4/1.pack
*.pack
Lab5/angular-bx1xdg/.angular/cache/15.1.6/angular-webpack/1e36c7c95c836e79e4eace3bd8e2d039bf4f35e4/0.pack
Lab5/angular-bx1xdg/.angular/cache/15.1.6/angular-webpack/1e36c7c95c836e79e4eace3bd8e2d039bf4f35e4/1.pack
Lab5/angular-bx1xdg/.angular/cache/15.1.6/angular-webpack/1e36c7c95c836e79e4eace3bd8e2d039bf4f35e4/3.pack
Lab5/angular-bx1xdg/.angular/cache/15.1.6/angular-webpack/1e36c7c95c836e79e4eace3bd8e2d039bf4f35e4/5.pack
