
<div *ngFor="let product of products">

    <h3>
        <img height="100px" src="/assets/{{product.imageCollection[0]}}">
        <a [title]="product.name + ' details'"
           [routerLink]="['/products', product.id]">
            {{product.name}}</a>
    </h3>
    <span style="color: #c09a04;">Rating: {{product.rating}}/5</span>
    <span> Likes: {{product.likes}}</span>

    <p *ngIf="product.description">
        Description: {{ product.description }}
    </p>

    <a href=
               "https://wa.me/?text={{product.urlLink}}"
       data-action="share/whatsapp/share"
       target="_blank">
        Share to whatsapp
    </a>

    <app-product-alerts
            [product]="product"
            (notify)="onNotify()">
    </app-product-alerts>

</div>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->